<app-host-listener-example></app-host-listener-example>
<app-preserve-whitespace-example></app-preserve-whitespace-example>
<h1>Dada Jee</h1>
<app-encapsulation-first></app-encapsulation-first>
<app-parent></app-parent>
<app-super></app-super>
<app-if-directives></app-if-directives>
<app-switch-case-directive></app-switch-case-directive>
<app-for-directive></app-for-directive>
<app-ng-class-directive></app-ng-class-directive>
<app-ng-style></app-ng-style>
<app-interpolation></app-interpolation>
<app-error-handling-interpolation></app-error-handling-interpolation>
<app-attribute-binding></app-attribute-binding>
<app-style-binding></app-style-binding>
<app-class-binding></app-class-binding>
<app-property-binding></app-property-binding>
<app-event-binding></app-event-binding>
<app-two-way-binding></app-two-way-binding>
<app-custom-pipe></app-custom-pipe>
<app-injectable-service></app-injectable-service>
<app-scoped-service></app-scoped-service>
<app-utility-service></app-utility-service>
<app-get-api-method></app-get-api-method>
<app-post-api-service></app-post-api-service>
<router-outlet />
